.contentBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:1000px;
  margin:30px auto;
}
.main {
  margin-top:100px;
}
img {
  width:275px;
  height:300px;
}
.box{
  width: 300px;
  margin:10px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  border:2px solid #fff;

}
.box:hover {
  border:2px solid #3936e3;
}
content {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  color:#424242;
}
content span {
  padding: 3px 0;
}
a {
  text-decoration: none;
  color: #2e75d9
}
.name {
  font-weight: bold;
  font-size:20px;
  font-family: Arial;
  margin:10px 0;
}
.buttonArea{
  display: flex;
  justify-content: center;
}
button{
  width:80%;
  margin:20px 0;
  height:30px;
  border:none;
  background-color:#2f39a3;
  color:#fff;
  cursor:pointer;
  transition:.3s;
}
button:hover{
  background-color:#fff;
  border:2px solid #2f39a3;
  color:#2f39a3;
  cursor:pointer
}
.pagination {
  text-align: center;
  padding:40px;
}
.my-pagination /deep/ .ngx-pagination .current {
  background-color:#2f39a3;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #2f39a3 transparent #2f39a3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  justify-content: center;
}
