.contentBox {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width:952px;
  margin:30px auto;
}
img {
  width:275px;
  height:300px;
}
.box{
  width: 300px;
  margin:10px;
  padding: 10px;
  display:flex;
  flex-direction: column;
  border:2px solid #fff;

}
.box:hover {
  border:2px solid #3936e3;
}
content {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  color:#424242;
}
content span {
  padding: 3px 0;
}
a {
  text-decoration: none;
  color: #2e75d9
}
.name {
  font-weight: bold;
  font-size:20px;
  font-family: Arial;
  margin:10px 0;
}
.buttonArea{
  display: flex;
  justify-content: center;
}
button{
  width:80%;
  margin:20px 0;
  height:30px;
  border:none;
  background-color:#2f39a3;
  color:#fff;
  cursor:pointer;
  transition:.3s;
}
button:hover{
  background-color:#fff;
  border:2px solid #2f39a3;
  color:#2f39a3;
  cursor:pointer
}
