<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="no-results" *ngIf="totalLength == 0">No search results</div>
<app-filter (properties)="onFilter($event)"></app-filter>
<router-outlet>
<div *ngIf="pets.length" class="main">
<div class="contentBox">
  <div *ngFor="let pet of pets | paginate: { itemsPerPage: 10,
    currentPage: page,
    totalItems: totalLength}">

  <div [ngClass]="pet.adopted? 'disabled-box': 'box'"
       *ngIf="searchText === '' || checkSearch(pet, searchText)"
  >
    <img src="{{pet.image}}" alt="{{pet.type === 'Dog'? 'Dog': 'Cat'}}"/>
    <content>
      <span class="name">{{pet.name}}</span>
      <span>Age: {{pet.age}}</span>
      <span>Breed: {{pet.Breed}}</span>
      <span>Gender: {{pet.gender}}</span>
      <a href="#" [routerLink]="['/pet', pet.id]">View the details...</a>
    </content>

    <div class="buttonArea">
      <button
        (click)="adoptAnimal(pet)"
        [ngClass]="pet.adopted? 'adopted-btn': 'unadopted-btn'"
      >{{pet.adopted ? 'Adopted': 'Adopt me'}}
      </button>
    </div>
  </div>
  </div>
</div>
</div>
<div *ngIf="hidePagination">
  <pagination-controls
    class="my-pagination pagination" 
    (pageChange)="page = $event"
    *ngIf="totalLength <= 10? false: true"
  >
</pagination-controls>
</div>
</router-outlet>
