<div class="filter">
  <div class="filter-type">
    <label><input type="radio" name="type" value="Cat" (click)="sortAnimalsByType($event.target)"><span>Cat</span></label>
    <label><input type="radio" name="type" value="Dog" (click)="sortAnimalsByType($event.target)"><span>Dog</span></label>
    <label><input type="radio" name="type" value="All" (click)="sortAnimalsByType($event.target)" checked><span>All</span></label>
  </div>
  <div class="filter-type">
    <label><input type="radio" name="gender" value="male" (click)="sortAnimalsByGender($event.target)"><span>Male</span></label>
    <label><input type="radio" name="gender" value="female" (click)="sortAnimalsByGender($event.target)"><span>Female</span></label>
    <label><input type="radio" name="gender" value="All" (click)="sortAnimalsByGender($event.target)" checked><span>All</span></label>
  </div>
</div>
