.filter {
  position: absolute;
  top:13%;
  left:26%;
  width:50%;
  display: flex;
  justify-content: space-between;
}
.filter-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-type label {
  font-size:15px;
  display: flex;
}

label span {
  margin:0 5px;
}

input[type='radio'] {
  width: 21px;
  height:21px;
  padding:0 3px;
  cursor: pointer;
}

input[type='radio'] {
  border:2px solid #2f39a3;
}

input[type='radio']:after {
  width: 13px;
  height:13px;
  border-radius: 15px;
  top: 4px;
  left: 4px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
}

input[type='radio']:checked:after {
  border-radius: 15px;
  background-color: #2f39a3;
}
